   <% provide(:title, 'SignIn') %>
   <h2> Sign In </h2> <br>
   <div class = "offset3 span6">
   <%= form_for(:session, url: 'login' ) do |f| %> <!-- url: sessions_path changed to login-->

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
	<br><br>
      <%= f.submit "Sign in", class: "btn btn-primary" %>
    <% end %>
	<p>New user? <%= link_to "Sign up now!", 'login' %></p> <!-- changed from signup_path to login-->
	</div>
