<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
	<div class="container">
	<ul class ="nav pull-left">
	<li><%= link_to "Listomania", root_path %></li>
	</ul>
	<nav>
	<ul class ="nav pull-right">
	<li><%=link_to "Home", root_path %></li>
	<% if signed_in? %>
	<li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Account <b class="caret"></b>
    </a>
	<ul class="dropdown-menu">
                <li><%= link_to "Tasks", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <!--<%= link_to "Sign out", 'logout' , method: "delete" %> <!-- changed from 'logout_url' to 'logout' -->
				  <%= link_to "Sign out", controller: 'sessions', action: 'destroy' %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", 'login' %></li> <!-- changed from login_url to login -->
		  <% end %>
	</ul>
	</nav>
	</div>
	</div>
</header>
